.App {
  margin: 50px auto 0;
  width: 820px; }

.App__header {
  padding: 23px;
  background: #1c688e; }

.App__search {
  font-size: 15px;
  padding: 10px;
  width: 100%;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }

.App__content {
  display: flex;
  background: #fff;
  border-color: #d7d7d7;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); }

.Sidebar {
  border-right: 1px solid #e6e6e6;
  padding: 29px 23px;
  width: 25%; }

.Content {
  flex-grow: 2;
  padding: 29px 23px; }
  .Content__header {
    padding-bottom: 20px; }
  .Content__footer {
    padding-top: 20px;
    text-align: center; }

.space-vertical {
  margin-top: 2px;
  margin-bottom: 2px; }
